<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% elsif flash[:info] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:info] %>
  </div>
<% elsif flash[:warn] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:warn] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>
