<h1>FAQ:</h1>
<br>
<strong>What is this?</strong>
<p style="margin-left: 20px; color: #616161">A centralized, easy to access, database of Murphy contact information</p>

<strong>Why?</strong>
<p style="margin-left: 20px; color: #616161">Why not? With weddings, events, and everyday contact, wouldn't be nice to know exactly how to contact someone?</p>

<strong>What should I do now?</strong>
<p style="margin-left: 20px; color: #616161">Update your contact information! If you see family members with the wrong information or no information, just add it in!</p>

<strong>What's to come?</strong>
<p style="margin-left: 20px; color: #616161">I was thinking this could be a good place to organize family events (to avoid email chains). If you have any suggestions let me know in the <%= link_to 'Ideas', ideas_path %> section or email me directly. You can also vote on current ideas! I'm building this with spare time, so time is limited, but willing to consider all ideas.</p>
